[Unit]
Description=Check network connectivity

[Service]
Type=oneshot
ExecStart={{ VENV_DIR }}/bin/netcheck-upload --output {{ DEPLOY_DIR }}/netcheck.db --verbose
User={{ DEPLOY_USER }}
