[Unit]
Description=Check network connectivity

[Service]
Type=oneshot
ExecStart=/var/netcheck/venv/bin/netcheck-upload --output /var/netcheck/netcheck.db --verbose

